#portfolio {
    padding-top: 4rem;
    padding-bottom: 5rem;
}

#portfolio h1 {
    padding-bottom: 4rem;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

.links a {
    margin: 0.6rem 0 0.5rem;
    margin-left: 10px;
}

.portfolio__item {
    background: var(--color-bg-variant);
    border: 2px solid transparent;
    border-color: var(--color-primary-variant);
    background: transparent;
    padding: 1.2rem;
    border-radius: 0.2rem;
    transition: var(--transition)
}

.portfolio__item:hover {}

.portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid var(--color-white);
}

.portfolio__item-image:hover {}

img {}

.portfolio__item h3 {
    margin: 0.5rem 0 0.5rem;
    color: var(--color-primary);
}

.portfolio__item p {
    font-size: 0.75rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}