#skills {
    padding: 4rem 4rem;
    background-color: rgba(17, 23, 31, 0.75);
    border-top: 3px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}


.list {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 5px;
    column-gap: 0px;
    margin-left: 25%;
    margin-right: 25%;
    justify-items: center;
}




.header {
    opacity: 0;
}

.animate {
    animation: fadeMid 2s ease-in both;
}


.top1 {
    animation: fadeIn 1s ease-in both;
}

.top2 {
    animation: fadeIn 1.25s ease-in both;
}

.top3 {
    animation: fadeIn 1.5s ease-in both;
}

.top4 {
    animation: fadeIn 1.75s ease-in both;
}

.top5 {
    animation: fadeIn 2s ease-in both;
}

.top6 {
    animation: fadeIn 2.25s ease-in both;
}

.top7 {
    animation: fadeIn 2.5s ease-in both;
}

.top8 {
    animation: fadeIn 2.75s ease-in both;
}

.skillBlocks {
    opacity: 0;
    display: block;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .list {
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #skills {
        padding: 3rem 3rem;
        background-color: #11171F;
    }

}

@media screen and (max-width: 600px) {
    .list {
        margin-left: auto;
        margin-right: auto;
    }

    #skills {
        padding: 1rem 1rem;
        background-color: #11171F;
    }
}