#footer {
    /*background-color: rgb(17, 23, 31);*/
    padding-top: 1rem;
    background-color: var(--color-primary);
}

.contacts {
    text-align: center;
    font-size: 2rem;
    margin-top: -1rem;
    margin-bottom: -0.25rem;
}


.footerItem {
    color: rgba(17, 23, 31, 0.8);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0px 1px 0px var(--color-primary);
    transition: var(--transition), transform .3s;
}

#footer h5 {
    color: white;
}

.footerItem:hover {
    box-shadow: 0px 5px 0px #fff, 0px 4px 0px #fff, 0px 3px 0px #fff, 0px 2px 0px #fff, 0px 1px 0px #fff;
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
    .contacts {
        margin-top: 0rem;
    }
}